@{
    ViewBag.Title = "Index";
}

<h2>Registration</h2>

<hr />

<h3>Loyalty Card Holder Registration</h3>

<p>Firstname</p><input id="Text1" type="text" />
<p>Surname</p><input id="Text1" type="text" />
<p>Address</p><input id="Text1" type="text" />
<p></p><input id="Text1" type="text" />
<p>County</p>
<p>Email</p><input id="Text1" type="text" />
<p>Confirm Email</p><input id="Text1" type="text" />
<p>Password</p><input id="Text1" type="text" />
<p>Confirm Password</p><input id="Text1" type="text" />

<hr />

<p>Part 2 of 2</p>
<a href="#" ></a><input id="regPart1" type="button" value="Previous" /></a>

<hr />

